include ./layout.jade
block content
  h1 Fixin Mongo
  p "welcome to #{title}."  
  
  // Wrapper
  #wrapper
    
    // ~~~ User List ~~~
    h2 User List
    ul
      li:"User name"
      li:"email"
      li:"delete?"
        
    // end user List
    
// wrapper
